{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}用户资料{% endblock %}

{% block content %}
{% block page_content %}
    <h1 style="margin-left:140px;color:green">{{ user.username }}</h1>
    <h2 style="margin-left:160px">
        姓名: {% if user.real_name %}{{ user.real_name }}{% endif %}
        <br><br>
        年龄: {% if user.age %}{{ user.age }}{% endif %}
        <br><br>
        地址:{% if user.location %}{{ user.location }}{% endif %}
        <br><br>
        {% if current_user.is_administrator %}
            邮箱:<a href="mailto:{{ user.email }}">{{ user.email }}</a>
        {% endif %}
    </h2>
    <h2 style="margin-left:100px">
        注册时间:{% if user.member_since %}{{ user.member_since }}{% endif %}
    </h2>
    <h2 style="margin-left:40px">
        {% if user.last_seen %}上次登录时间:  {{ user.last_seen }}{% endif %}
    </h2>
    <h2 style="margin-left:130px">
        关于我:{% if user.about_me %}{{ user.about_me }}{% endif %}
    </h2>
    <h2 style="margin-left:130px">{{ user.posts.count() }} 篇博客</h2>
    <h2 style="margin-left:130px">
            {% if UserManager.can(current_user, Permission.FOLLOW) and user != current_user %}
                {% if not current_user.is_following(user) %}
                <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-primary">
                    关注
                </a>
                {% else %}
                <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-default">
                    取消关注
                </a>
                {% endif %}
            {% endif %}
            <a href="{{ url_for('main.followers', username=user.username) }}">
                粉丝: <span class="badge">{{ user.followers.count() }}</span>
            </a>
            <a href="{{ url_for('main.followed_by', username=user.username) }}">
                关注: <span class="badge">{{ user.followed.count() }}</span>
            </a>
            {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
            | <span class="label label-default">Follows you</span>
            {% endif %}
        </h2>
        <h2>
            {% if user == current_user and not UserManager.is_administrator(current_user) %}
                <a style="margin-left:140px;color:blue" class="btn btn-default" href="{{ url_for('main.edit_profile', username=current_user.username) }}">
                编辑资料
                </a>
            {% endif %}
            {% if UserManager.is_administrator(current_user) %}
            <a style="margin-left:140px" class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">
                编辑资料 [Admin]
            </a>
            {% endif %}
        </h2>
{% endblock %}
{% endblock %}