{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}修改密码{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning" style="color:red;background-color:palegreen;margin-left:300px;margin-right:800px">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}
    <div class="page-head">
        <h1>修改密码</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}