<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <base href="http://127.0.0.1:5000/">
</head>
<body>
<h1>Hello, World!</h1>
<hr>
<p>段落<br />不产生新段落,只在显示是换行</p>
<!--这是一个注释-->
<p>段落
        前面这些空格是没用的
直接换行也是没用的</p>
<a href="http://www.zhihu.com">知乎</a>
<br />
<b>这个文本是加粗的</b>
<br />
<strong>这个文本是加粗的</strong>
<br />
<big>这个文本字体放大</big>
<br />
<em>这个文本是斜体的</em>
<br />
<i>这个文本是斜体的</i>
<br />
<small>这个文本是缩小的</small>
<br />
这个文本包含
<sub>下标</sub>
<br />
这个文本包含
<sup>上标</sup>
</body>
</html>