{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}主页{% endblock %}

{% block content %}
{% block page_content %}
    <div class="page-header">
        <h1 style="margin-left:80px">
            Hello, {% if name %}{{ name }}{% else %}World{% endif %}!
        </h1>
    </div>
<p style="color:red;margin-left:80px">
    <font size="4">
        当前时间: {{ moment(current_time).format('YYYY.M.D HH:mm') }}
    </font>
</p>
{% endblock %}
<hr>
<a href="http://www.zhihu.com">知乎</a>
{% endblock %}