{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}用户{% endblock %}

{% block content %}
{% block page_content %}
    <div class="page-header">
        <h1 style="margin-left:80px">Hello, {{ user.username }}!</h1>
        {% if not known %}
        <p style="margin-left:85px">Pleased to meet you!</p>
        {% else %}
        <p style="margin-left:85px">Happy to see you again!</p>
        {% endif %}
    </div>
{% endblock %}
<a style="margin-left:80px" href="{{ url_for('auth.change_password') }}">修改密码</a>
<h3 style="margin-left:80px">{{ user.username }}的文章</h3>
{% include 'main/_posts.html' %}
{% endblock %}
